@model SistemaCRUD.Models.Aspirante

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

<div class="modal-body">
    <form id="formEditarAspirante" asp-action="Edit" method="post">
        <input type="hidden" asp-for="id" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="nombre" class="control-label"></label>
            <input asp-for="nombre" class="form-control" placeholder="Nombre">
            <span asp-validation-for="nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="apellido" class="control-label"></label>
            <textarea asp-for="apellido" class="form-control"></textarea>
            <span asp-validation-for="apellido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="correoElectronico" class="control-label"></label>
            <input asp-for="correoElectronico" class="form-control" />
            <span asp-validation-for="correoElectronico" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="numTelefonico" class="control-label"></label>
            <input asp-for="numTelefonico" class="form-control" />
            <span asp-validation-for="numTelefonico" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="lugarNacimiento" class="control-label"></label>
            <input asp-for="lugarNacimiento" class="form-control" />
            <span asp-validation-for="lugarNacimiento" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>
